{% extends 'base.html' %}

{% block nav %}
	<div class="row nav_row">
		<div class="container inner_head">
			<div class="row inner_nav_row">
				<div class="col-md-4 head_logo">Inve$t</div>
		        <div class="col-md-2 col-md-offset-6 nav_signup"><a href="signup"><h4>Sign Up&nbsp;<span class="glyphicon glyphicon-user"></span></h4></a>
		        </div>
	        </div>
        </div>
     </div>
{% endblock %}	
	
{% block content %}
	<div class="row land_logo">
    <h1>Inve$t</h1>
    <p><h4>The Everything Business Connection Platform!</h4></p>
    </div>


    <div class="row spacer2"></div>


<div class="container-fluid intro">
    <div class="row">
      <div class="col-md-2"></div>  
      <div class="col-md-8 text-center col_intro">
      	<h2>WHAT IS INVE$T?</h2>
      	<p>Invest is an online investment platform that takes the hassle out of finding
      	potential investors for your startup!</p>
      </div>
      <div class="col-md-2 col_step_1_img"></div>
    </div>
</div>

<div class="container-fluid step_1">
	<div class="container">
	    <div class="row">
	      <div class="col-md-8 col_step_1">
		   	<h3>Step 1&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></h3>
	      	<p>Sign up for a free account using your email.</p><br>   
	      </div>
	      <div class="col-md-4 col_step_1_img">
	      </div>
	    </div>
    </div>
</div>

<div class="container-fluid step_2">
	<div class="container">
	    <div class="row">
	      <div class="col-md-8 col_step_2">
			  <h3>Step 2&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-link"></span></h3>
	      	  <p>Make Connections with Entrepreneurs or other Investors.</p><br>   
	      </div>
	      <div class="col-md-4 col_step_2_img">
	      </div>
	    </div>
    </div>
</div>

<div class="container-fluid step_3">
	<div class="container">
	    <div class="row">
	      <div class="col-md-8 col_step_3">
			  <h3>Step 3&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-check"></span></h3>
		      <p>Post-Pitch an idea, and let the Investors come to you!</p><br>  
	      </div>
	      <div class="col-md-4 col_step_3_img">
	      </div>
	    </div>
    </div>
</div>

{% endblock %}
